{% extends "layout.html" %} 
{% block title %} Home {% endblock %} 
{% block content %}
  <!-- carousel -->
  <!-- Need to improve size with responsive rather than viewport -->
  <!-- need to write code to make carousel work -->
<div class="carousel">
    <div class="slider">
      <div class="slide">
        <img
          src="https://source.unsplash.com/random?landscape,mountain"
          alt=""
        />
      </div>

      <div class="slide">
        <img src="https://source.unsplash.com/random?landscape,cars" alt="" />
      </div>

      <div class="slide">
        <img src="https://source.unsplash.com/random?landscape,night" alt="" />
      </div>

      <!-- Control buttons -->
      <button
        class="btn-prev absolute top-0 bottom-0 left-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
        type="button"
      >
        <span class="inline-block h-8 w-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5"
            />
          </svg>
        </span>
        <span
          class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
          >Previous</span
        >
      </button>
      <button
        class="btn-next absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
        type="button"
      >
        <span class="inline-block h-8 w-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </span>
        <span
          class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
          >Next</span
        >
      </button>
    </div>
</div>

  <!-- Tabs -->
<div>
    <!-- Need to improve size with responsive rather than viewport -->
    <div
      class="container mx-auto max-w-[90vw] rounded mt-[20px] min-h-[50vh] border-2 border-gray-300"
    >
      <div
        class="text-sm font-medium text-center text-gray-500 dark:text-gray-400 dark:border-gray-700 max-h-[80vw] flex justify-center"
      >
        <!-- need to make tabs work without refreshing -->

        <div class="tabset w-[100%]">
          <!-- Tab 1 -->
          <input
            type="radio"
            name="tabset"
            id="tab1"
            aria-controls="marzen"
            checked
          />
          <label for="tab1">Märzen</label>
          <!-- Tab 2 -->
          <input
            type="radio"
            name="tabset"
            id="tab2"
            aria-controls="rauchbier"
          />
          <label for="tab2">Rauchbier</label>
          <!-- Tab 3 -->
          <input type="radio" name="tabset" id="tab3" aria-controls="dunkles" />
          <label for="tab3">Dunkles Bock</label>

          <div class="tab-panels">
            <section id="marzen" class="tab-panel">
              <!-- Add Games Dynamically -->
              <div
                class="[word-wrap: break-word] my-[5px] flex h-[80px] mx-auto w-[50%] cursor-pointer items-center justify-between rounded-[16px] bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none"
                onclick="openModal()"
              >
                Text
              </div>
            </section>

            <section id="rauchbier" class="tab-panel"></section>

            <section id="dunkles" class="tab-panel"></section>
          </div>
        </div>
        <!-- modal -->
        <div
          class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
          style="background: rgba(0, 0, 0, 0.7)"
        >
          <div
            class="border border-teal-500 shadow-lg modal-container bg-white w-[90%] max-h-[80%] mx-auto rounded shadow-lg z-50 overflow x-hidden overflow-y-auto"
          >
            <div class="modal-content py-4 text-left px-6">
              <!--Title-->
              <div class="flex justify-between items-center pb-3 text-center">
                <p class="text-2xl font-bold">ManUtd v/s Chelsea</p>

                <div class="modal-close cursor-pointer z-50">
                  <svg
                    class="fill-current text-black"
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                  >
                    <path
                      d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    ></path>
                  </svg>
                </div>
              </div>
              <!--Body-->
              <div class="grids-cols-2">
              <div class="my-5 flex justify-center items-center">
                <!-- set img size to be responsive -->
                <img
                  class="max-w-[100px] max-h-[100px] object-contain"
                  src="https://i.pinimg.com/originals/8e/f5/9d/8ef59dc3c90a3abd56c87a5901709132.jpg"
                  alt=""
                />

                <!-- score will be dynamic -->
                <p>1 <strong>:</strong> 0</p>
                <img
                  class="max-w-[100px] max-h-[100px] object-contain"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/800px-Chelsea_FC.svg.png"
                  alt=""
                />
              </div>
              </div>
              <!--Footer-->
              <div class="flex justify-end pt-2">
                <button
                  class="focus:outline-none modal-close px-4 bg-gray-400 p-3 rounded-lg text-black hover:bg-gray-300"
                >
                  Cancel
                </button>
                <button
                  class="focus:outline-none px-4 bg-teal-500 p-3 ml-3 rounded-lg text-white hover:bg-teal-400"
                >
                  Confirm
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
