{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block
content %}
<!-- carousel -->
<!-- Need to improve size with responsive rather than viewport -->
<!-- need to write code to make carousel work -->
<div class="carousel lg:min-h-[91vh] min-h-[50vh]">
  <div class="slider w-[100%] lg:h-[100%] h-[70%] relative overflow-hidden">
    <div
      class="slide w-[100%] h-[100%] absolute transition-all ease-in-out duration-300"
    >
      <img
        src="../static/images/soccer1.jpg"
        alt=""
        class="mx-auto object-contain w-[100%]"
      />
    </div>

    <div
      class="slide w-[100%] h-[100%] absolute transition-all ease-in-out duration-300"
    >
      <img
        src="../static/images/soccer2.jpg"
        alt=""
        class="mx-auto object-contain w-[100%]"
      />
    </div>

    <div
      class="slide w-[100%] h-[100%] absolute transition-all ease-in-out duration-300"
    >
      <img
        src="../static/images/soccer3.jpg"
        alt=""
        class="mx-auto object-contain w-[100%]"
      />
    </div>

    <!-- Control buttons -->
    <button
      class="btn-prev absolute top-0 bottom-0 left-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Previous</span
      >
    </button>
    <button
      class="btn-next absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Next</span
      >
    </button>
  </div>
</div>

<!-- Tabs -->
<div class="mt-[5%]">
  <h2
    class="text-2xl text-gray-900 dark:text-neutral-50 font-bold md:text-4xl mx-auto max-w-[90vw]"
  >
    Scheduled Games for the Week
  </h2>
  <!-- SINA: Added this here to put the game data fetched from the games schedule API -->
  <div
    data-oneWeekSchedule="{{session['oneWeekSchedule']}}"
    id="game-schedules"
    class="container w-[100%] rounded mt-[20px] mx-auto"
  ></div>

  <!-- Need to improve size with responsive rather than viewport -->
  <div class="container w-[100%] rounded mt-[20px] mx-auto">
    <div
      class="text-sm font-medium text-center text-gray-500 dark:text-neutral-100 flex justify-center"
    >
      <!-- need to make tabs work without refreshing -->

      <div class="tabset w-[100%]">
        <div>
          <button
            class="tablinks leaguea-tab inline-block text-gray-500 hover:text-gray-600 rounded-t-lg py-4 px-4 text-sm font-medium text-center dark:text-neutral-200 dark:hover:text-gray-300"
            id="profile-tab"
            aria-selected="true"
            onclick="openTab('LeagueA')"
          >
            LeagueA
          </button>
          <button
            class="tablinks leagueb-tab inline-block text-gray-500 hover:text-gray-600 rounded-t-lg py-4 px-4 text-sm font-medium text-center dark:text-neutral-200 dark:hover:text-gray-300"
            id="profile-tab"
            onclick="openTab('LeagueB')"
          >
            LeagueB
          </button>
          <button
            class="tablinks leaguec-tab inline-block text-gray-500 hover:text-gray-600 rounded-t-lg py-4 px-4 text-sm font-medium text-center dark:text-neutral-200 dark:hover:text-gray-300"
            id="profile-tab"
            onclick="openTab('LeagueC')"
          >
            LeagueC
          </button>
        </div>

        <div class="w-full pt-[5%] pb-[5%] dark:bg-neutral-700">
          <div class="max-w-[55%] mx-auto">
            <section id="LeagueA" class="tabcontent lg:grid lg:grid-cols-2">
              <div
                class="[word-wrap: break-word] flex mx-auto w-[100%] cursor-pointer items-center justify-between bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none border-2 border-gray-300 dark:bg-white"
                onclick="openModal()"
              >
                <div class="flex justify-between w-full align-baseline py-2">
                  <div
                    class="w-[80%] flex justify-between border-r-2 pr-[1em] border-gray-400"
                  >
                    <div class="flex flex-col">
                      <p>Team 1</p>
                      <p>Team 2</p>
                    </div>
                    <div class="flex flex-col">
                      <p>Score</p>

                      <p>Score</p>
                    </div>
                  </div>
                  <div class="flex align-middle min-h-[100%]">
                    <p class="my-auto">Date</p>
                  </div>
                </div>
              </div>
              <div
                class="[word-wrap: break-word] flex mx-auto w-[100%] cursor-pointer items-center justify-between bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none border-2 border-gray-300"
                onclick="openModal()"
              >
                <div class="flex justify-between w-full align-baseline py-2">
                  <div
                    class="w-[80%] flex justify-between border-r-2 pr-[1em] border-gray-400"
                  >
                    <div class="flex flex-col">
                      <p>Team 1</p>
                      <p>Team 2</p>
                    </div>
                    <div class="flex flex-col">
                      <p>Score</p>

                      <p>Score</p>
                    </div>
                  </div>
                  <div class="flex align-middle min-h-[100%]">
                    <p class="my-auto">Date</p>
                  </div>
                </div>
              </div>
            </section>
            <section id="LeagueB" class="tabcontent lg:grid lg:grid-cols-2">
              <div
                class="[word-wrap: break-word] flex mx-auto w-[100%] cursor-pointer items-center justify-between bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none border-2 border-gray-300"
                onclick="openModal()"
              >
                <div class="flex justify-between w-full align-baseline py-2">
                  <div
                    class="w-[80%] flex justify-between border-r-2 pr-[1em] border-gray-400"
                  >
                    <div class="flex flex-col">
                      <p>Team 1</p>
                      <p>Team 2</p>
                    </div>
                    <div class="flex flex-col">
                      <p>Score</p>

                      <p>Score</p>
                    </div>
                  </div>
                  <div class="flex align-middle min-h-[100%]">
                    <p class="my-auto">Date</p>
                  </div>
                </div>
              </div>
              <div
                class="[word-wrap: break-word] flex mx-auto w-[100%] cursor-pointer items-center justify-between bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none border-2 border-gray-300"
                onclick="openModal()"
              >
                <div class="flex justify-between w-full align-baseline py-2">
                  <div
                    class="w-[80%] flex justify-between border-r-2 pr-[1em] border-gray-400"
                  >
                    <div class="flex flex-col">
                      <p>Team 1</p>
                      <p>Team 2</p>
                    </div>
                    <div class="flex flex-col">
                      <p>Score</p>

                      <p>Score</p>
                    </div>
                  </div>
                  <div class="flex align-middle min-h-[100%]">
                    <p class="my-auto">Date</p>
                  </div>
                </div>
              </div>
              <div
                class="[word-wrap: break-word] flex mx-auto w-[100%] cursor-pointer items-center justify-between bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none border-2 border-gray-300"
                onclick="openModal()"
              >
                <div class="flex justify-between w-full align-baseline py-2">
                  <div
                    class="w-[80%] flex justify-between border-r-2 pr-[1em] border-gray-400"
                  >
                    <div class="flex flex-col">
                      <p>Team 1</p>
                      <p>Team 2</p>
                    </div>
                    <div class="flex flex-col">
                      <p>Score</p>

                      <p>Score</p>
                    </div>
                  </div>
                  <div class="flex align-middle min-h-[100%]">
                    <p class="my-auto">Date</p>
                  </div>
                </div>
              </div>
              <div
                class="[word-wrap: break-word] flex mx-auto w-[100%] cursor-pointer items-center justify-between bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none border-2 border-gray-300"
                onclick="openModal()"
              >
                <div class="flex justify-between w-full align-baseline py-2">
                  <div
                    class="w-[80%] flex justify-between border-r-2 pr-[1em] border-gray-400"
                  >
                    <div class="flex flex-col">
                      <p>Team 1</p>
                      <p>Team 2</p>
                    </div>
                    <div class="flex flex-col">
                      <p>Score</p>

                      <p>Score</p>
                    </div>
                  </div>
                  <div class="flex align-middle min-h-[100%]">
                    <p class="my-auto">Date</p>
                  </div>
                </div>
              </div>
            </section>
            <section id="LeagueC" class="tabcontent lg:grid lg:grid-cols-2">
              <div
                class="[word-wrap: break-word] flex mx-auto w-[100%] cursor-pointer items-center justify-between bg-[#eceff1] py-0 px-[12px] text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none border-2 border-gray-300"
                onclick="openModal()"
              >
                <div class="flex justify-between w-full align-baseline py-2">
                  <div
                    class="w-[80%] flex justify-between border-r-2 pr-[1em] border-gray-400"
                  >
                    <div class="flex flex-col">
                      <p>Team 1</p>
                      <p>Team 2</p>
                    </div>
                    <div class="flex flex-col">
                      <p>Score</p>

                      <p>Score</p>
                    </div>
                  </div>
                  <div class="flex align-middle min-h-[100%]">
                    <p class="my-auto">Date</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <!-- modal -->
      <div
        class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
        style="background: rgba(0, 0, 0, 0.7)"
      >
        <div
          class="shadow-lg modal-container bg-white dark:bg-neutral-700 w-[40%] h-[50%] mx-auto rounded shadow-lg z-50 overflow x-hidden overflow-y-auto"
        >
          <div class="modal-content py-4 text-left px-6">
            <!--Title-->
            <div
              class="flex justify-between items-center pb-3 text-center dark:text-white"
            >
              <p id="scheduled-game-date" class="text-gray-300">
                scheduled-game-date
              </p>

              <div class="modal-close cursor-pointer z-50">
                <svg
                  class="fill-current text-black dark:text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                >
                  <path
                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                  ></path>
                </svg>
              </div>
            </div>

            <!--Body-->
            <div class="grids-cols-3 gap-2 text-center mt-[5%] text-400">
              <div
                class="mb-[4%] flex justify-center align-baseline items-center"
              >
                <!-- set img size to be responsive -->
                <div class="mr-[4%]">
                  <img
                    id="scheduled-hometeam-flag"
                    class="max-w-[48px] max-h-[48px] object-contain"
                    src="scheduled-hometeam-flag"
                    alt=""
                  />
                  <p id="scheduled-hometeam-name">scheduled-hometeam-name</p>
                </div>

                <!-- score will be dynamic -->
                <p class="text-[48px]">Vs.</p>
                <div class="ml-[4%]">
                  <img
                    id="scheduled-awayteam-flag"
                    class="max-w-[48px] max-h-[48px] object-contain ml-[4%]"
                    src="scheduled-awayteam-flag"
                    alt=""
                  />
                  <p id="scheduled-awayteam-name">scheduled-awayteam-name</p>
                </div>
              </div>
              <div
                class="mx-auto max-w-[85%] border-t-2 border-grey-200 flex justify-between pt-[4%]"
              >
                <div>
                  <p class="text-300 text-gray-300">Teams</p>
                  <br />
                  <p id="stats-hometeam-name">stats-hometeam-name</p>
                  <!-- Sina: this here just to add space -->
                  <br />
                  <p id="stats-awayteam-name">stats-awayteam-name</p>
                </div>

                <div class="grid grid-cols-3 gap-2">
                  <div>
                    <div class="text-300 text-gray-300">Wins</div>
                    <br />
                    <p id="state-hometeam-wins">state-hometeam-wins</p>
                    <!-- Sina: this here just to add space -->
                    <br />
                    <p id="state-awayteam-wins">state-awayteam-wins</p>
                  </div>

                  <div>
                    <div class="text-300 text-gray-300">Losses</div>
                    <br />
                    <p id="stats-hometeam-losses">stats-hometeam-losses</p>
                    <!-- Sina: this here just to add space -->
                    <br />
                    <p id="stats-awayteam-losses">stats-awayteam-losses</p>
                  </div>

                  <div>
                    <div class="text-300 text-gray-300">OT</div>
                    <br />
                    <div id="stats-hometeam-ot">stats-hometeam-ot</div>
                    <!-- Sina: this here just to add space -->
                    <br />
                    <div id="stats-awayteam-ot">stats-awayteam-ot</div>
                  </div>
                </div>
              </div>

              <!--Footer-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- info -->

<!-- component -->
<div class="py-16 bg-white max-w-[90vw] mx-auto dark:bg-neutral-600">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12"
    >
      <div class="md:5/12 lg:w-5/12">
        <img
          src="../static/images/soccer4.jpg"
          class="rounded"
          alt="image"
          loading="lazy"
          width=""
          height=""
        />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2
          class="text-2xl text-gray-900 font-bold md:text-4xl dark:text-white"
        >
          About Us
        </h2>
        <p class="mt-6 text-gray-600 dark:text-neutral-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis
          voluptatem accusantium nemo perspiciatis delectus atque autem!
          Voluptatum tenetur beatae unde aperiam, repellat expedita consequatur!
          Officiis id consequatur atque doloremque!
        </p>
        <p class="mt-4 text-gray-600 dark:text-neutral-400">
          Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
          expedita at? Asperiores nemo possimus nesciunt dicta veniam aspernatur
          quam mollitia.
        </p>
        <button
          class="block mt-[1.3em] uppercase shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded dark:text-neutral-400"
        >
          Learn More
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 dark:text-neutral-200"
>
  <div class="grid grid-cols-2 row-gap-8 md:grid-cols-4">
    <div class="text-center md:border-r">
      <h6 class="text-xl font-bold lg:text-xl xl:text-4xl">4+</h6>
      <p
        class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base dark:text-neutral-400"
      >
        Users
      </p>
    </div>
    <div class="text-center md:border-r">
      <h6 class="text-xl font-bold lg:text-2xl xl:text-4xl">3%</h6>
      <p
        class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base dark:text-neutral-400"
      >
        Platform Fee
      </p>
    </div>
    <div class="text-center md:border-r">
      <h6 class="text-xl font-bold lg:text-2xl xl:text-4xl">99.9%</h6>
      <p
        class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base dark:text-neutral-400"
      >
        Uptime Gurantee
      </p>
    </div>
    <div class="text-center">
      <h6 class="text-xl font-bold lg:text-2xl xl:text-4xl">0$</h6>
      <p
        class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base dark:text-neutral-400"
      >
        Paid Out
      </p>
    </div>
  </div>
</div>

<!-- news -->
<div class="bg-white py-24 sm:py-32 dark:bg-neutral-700 mb-[20px]">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
      >
        More in the world of hockey
      </h2>
    </div>
    <div
      class="mx-auto mt-4 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 border-t border-gray-200 pt-8 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time
            datetime="2020-03-16"
            class="text-gray-500 dark:text-neutral-300"
            >Mar 16, 2020</time
          >
        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600 dark:text-neutral-200"
          ></h3>
          <p
            class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600 dark:text-neutral-200"
          >
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
            vitae illo. Non aliquid explicabo necessitatibus unde. Sed
            exercitationem placeat consectetur nulla deserunt vel. Iusto
            corrupti dicta.
          </p>
        </div>
        <div class="relative mt-4 flex items-center gap-x-4">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900 dark:text-neutral-400">
              <a href="#">
                <span class="absolute inset-0"></span>
                Read More
              </a>
            </p>
          </div>
        </div>
      </article>

      <!-- More posts... -->
    </div>
  </div>
</div>

{% endblock %}
