{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
content %}
<!-- <form id="register_form" action="#" method="POST">
    <p>User Name:</p>
    <p><input type="text" name = 'name'></p>
    <p>Email:</p>
    <p><input type="email" name = 'email' ></p>
    <p>Password</p>
    <p><input type="password" name = 'password'></p>
    <p><input type="submit"></p>
</form> -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/registration.css') }}"
/>

<div class="testbox">
  <h1>Registration</h1>

  <form action="#" method="POST" id="register_form">
    <hr />

    <label id="icon" for="email"><i class="icon-envelope"></i></label>
    <input type="text" name="email" id="email" placeholder="Email" required />
    <label id="icon" for="name"><i class="icon-user"></i></label>
    <input type="text" name="name" id="name" placeholder="Name" required />
    <label id="icon" for="password"><i class="icon-shield"></i></label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />

    <!-- <a href="#" class="button">Register</a> -->
    <p><input type="submit" /></p>
  </form>
</div>
{% endblock %}
