@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
/* Modal */
.animated {
  animation-duration: 1s;

  animation-fill-mode: both;
}

.animated.faster {
  animation-duration: 500ms;
}

body {
  backdrop-filter: black;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Carousel */

.carousel {
  display: grid;
  place-items: center;
}

/* dropdown menu */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Sina: game-schedules display on home page */
#game-schedules {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#game-schedules .game-schedule {
  padding: 10px;
  border: 1px solid black;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
